:root{
    --red: 0%;
    --green: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.controls{
    position: relative;
    z-index: 2;
}
#shower {
    width: 100%;
    height: 100vh;
    background:  #ADFF2F;
    position: relative;
}
.topTo {
    top: 0;
    animation-name: topToBottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.botTo {
    bottom: 0;
    animation-name: topToBottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#red{
    z-index: 0;
    background-color: red;
    position:absolute;
    width: 100%;
}
@keyframes topToBottom {
    from {height: 0%;}
    to {height: var(--red);}
}