:root{
    --red: 0%;
    --green: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.controls{
    z-index: 2;
}
#shower {
    width: 100%;
    height: 100vh;
    background: white;
  }
.topTo {
    animation-name: topToBottom;
    animation-duration: 2s;
}
.bottomTo {
    animation-name: bottomToTop;
    animation-duration: 2s;
}
@keyframes topToBottom {
    from {background: linear-gradient(red 0%, green 0% 100%)}
    to {background: linear-gradient(red var(--red), green var(--red) 100%);}
}
@keyframes bottomToTop {
    from {background: linear-gradient(red 0%, green 0% 100%)}
    to {background: linear-gradient(green var(--green), red var(--green) 100%);}
}